
.btn-default.active,
.btn-default:active {
    color            : #FFF;
    background-color : #9954BB;
    border-color     : #9954BB;
}

#housing_form{
height: 90%;
}

#map {
    display : block;
    width   : 100%;
    height  : 600px;
}

.footer {
    text-align : center;
}

.alert{
    text-align: center;
}
