{% extends "base.html" %}

{% block content %}

    <div class = "container container-first">
        <div class = "row">
            <div class = "col-md-3">
                <img src = "{{ url_for("static",
                            filename="img/yuan_tian.png") }}"
                        alt = "Photo of Yuan Tian">
            </div>

            <div class = "col-md-9">
                <h2 id = "toc_0">Yuan Tian, PhD, EIT</h2>

                <p>Center for the Environmental Implications of
                    NanoTechnology<br>
                    Duke University, Durham, NC 27708
                </p>

                <h4 id = "toc_1">
                    <a href = "mailto:yt.210@duke.edu">
                        <i class = "fa fa-envelope"></i>
                        Email
                    </a>
                    &nbsp;
                    <a href = "https://www.linkedin.com/in/yuantian210">
                        <i class = "fa fa-linkedin-square "></i>
                        LinkedIn
                    </a>
                    &nbsp;
                    <a href = "https://scholar.google.com/citations?user=_aW1CToAAAAJ">
                        <i class = "fa  fa-graduation-cap "></i>
                        Google Scholar
                    </a>
                    &nbsp;
                    <a href = "https://github.com/field210">
                        <i class = "fa  fa-github "></i>
                        GitHub
                    </a>
                </h4>
            </div>
        </div>

        <div class = "row">

            <h2 id = "toc_2">
                <i class = "fa fa-certificate"></i>
                Summary
            </h2>

            <ul>
                <li> Extensive experience in data management, mathematical
                    modeling, and computational programming
                </li>
                <li> Proven abilities to quickly become expert in new
                    subjects and techniques, absorb essential concepts and
                    information, and solve problems
                </li>
                <li> Independent, critical, and innovative thinker (over 20
                    publications in top-ranked research journals)
                </li>
                <li> Productive worker, both independently and in teams;
                    effective at time management; established leadership
                    and supervisory skills
                </li>
                <li> U.S. Permanent Resident; fluent in English and
                    Mandarin Chinese
                </li>
            </ul>

            <h2 id = "toc_3">
                <i class = "fa fa-flask"></i>
                Research Experience
            </h2>

            <h3 id = "toc_4">
                <i class = "fa fa-user"></i>
                Postdoctoral Associate in Database and Model Development at
                Duke University
            </h3>

            <p>August 2013 – Present</p>

            <p>
                <i class = "fa fa-users"></i>
                Professor <strong>Mark R. Wiesner</strong>, Department of
                Civil and Environmental Engineering, Duke University,
                Durham, NC
            </p>

            <ul>
                <li> Developing hazard and exposure assessment tools using
                    VBA and R to estimate the potential impacts of
                    nanomaterials released from consumer products based on
                    curated endpoint-specific dose-response datasets
                </li>
                <li> Designing Bayesian network models for environmental
                    risk assessment of nanomaterials using R
                </li>
                <li> Designing MySQL database and software platform for
                    data sharing within nanoinformatics community
                </li>
                <li> Building up dynamic website (ceint.vm.duke.edu) for
                    data sharing and application using MySQL,
                    JavaScript/jQuery/Ajax/D3, HTML, CSS, PHP and R/Shiny
                </li>
            </ul>

            <h3 id = "toc_5">
                <i class = "fa fa-user"></i>
                Postdoctoral Associate in Model Development at Michigan
                State University
            </h3>

            <p>September 2012 – August 2013</p>

            <ul>
                <li> Performed analysis of physicochemical attachment of
                    nanoparticles and modeled deposition on fresh produce
                </li>
                <li> Supervised and trained graduate and undergraduate
                    students in experimental design and data modeling
                </li>
            </ul>

            <h3 id = "toc_6">
                <i class = "fa fa-user"></i>
                Research Assistant in Data Modeling at University of
                Florida
            </h3>

            <p>August 2008 – August 2012</p>

            <ul>
                <li> Built a risk assessment framework for nanomaterials
                    and created a model for fate and transport of
                    nanomaterials in soil and groundwater using Matlab
                </li>
                <li> Developed a Windows-based software tool for modeling
                    hydrodynamic behavior of contaminants using VBA
                </li>
            </ul>

            <h3 id = "toc_7">
                <i class = "fa fa-user"></i>
                Research Assistant in Data Management and Modeling at
                Nanjing University
            </h3>

            <p>September 2005 – June 2008</p>

            <ul>
                <li> Analyzed comprehensive datasets of soil and crop
                    parameters using R and modeled accumulation of heavy
                    metals in rice using Artificial Neural Networks (ANNs)
                </li>
                <li> Collected samples, analyzed and managed data for air
                    particles, built report interfaces and data feeds, and
                    designed MySQL database for the Chinese offshore
                    investigation and assessment
                </li>
                <li> Offered consulting services to local government for
                    contaminant regulation and crop safety
                </li>
            </ul>

            <h2 id = "toc_8">
                <i class = "fa fa-university"></i>
                Education
            </h2>

            <ul>
                <li><strong>Ph.D.</strong>, Hydrologic Sciences, <strong>University
                    of Florida</strong>, Gainesville, FL, August 2012
                </li>
                <li><strong>M.S.</strong>, Environmental Science, <strong>Nanjing
                    University</strong>, Nanjing, China, June 2008
                </li>
                <li><strong>B.E.</strong>, Environmental Engineering,
                    <strong>Huazhong University of Science and
                        Technology</strong>, Wuhan, China, June 2005
                </li>
            </ul>

        </div>
    </div>

{% endblock %}
