{% extends "base.html" %}

{% block head %}

    {{ super() }}
    <script type = "text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <link href = "{{ url_for("static", filename="leaflet/leaflet.css") }}"
            rel = "stylesheet">
    <script src = "{{ url_for("static", filename="leaflet/leaflet.js") }}"></script>

    <link href = "{{ url_for("static", filename="css/housing.css") }}"
            rel = "stylesheet">
    <script src = "{{ url_for("static", filename="js/housing.js") }}"></script>


{% endblock %}


{% block content %}

    <div class = "container">
        <div class = "row">
            <div class = "col-sm-12">
                <div id = "input_panel" class = "panel panel-primary">
                    <div class = "panel-heading">
                        <h3 class = "panel-title">Housing Sold
                            Price Predictor</h3>

                    </div>
                    <div class = "panel-body">
                        <div class = "row">
                            <div class = "col-sm-4">
                                <select name = "DwellingType"
                                        class = "selectpicker"
                                        title = "Select Housing Type"
                                        data-width = "100%">
                                    <option>Single Family - Detached
                                    </option>
                                    <option>Townhouse</option>
                                    <option>Apartment Style/Flat</option>
                                    <option>Mfg/Mobile Housing</option>
                                    <option>Patio Home</option>
                                    <option>Gemini/Twin Home</option>
                                    <option>Loft Style</option>
                                    <option>Modular/Pre-Fab</option>
                                </select>
                            </div>

                            <div class = "col-sm-4">
                                <div class = "input-group">
                                    <span class = "input-group-addon">Size</span>
                                    <input type = "text" class = "form-control"
                                            name = "LivingArea"
                                            placeholder = "2000"/>
                                    <span class = "input-group-addon">sqft</span>
                                </div>
                            </div>
                        </div>

                        <br/>

                        <div class = "row">

                            <div class = "col-sm-4">
                                <div class = "input-group">
                                    <span class = "input-group-addon">Bed</span>
                                    <input type = "text" class = "form-control"
                                            name = "NumBedrooms"
                                            placeholder = "3"/>
                                    <span class = "input-group-addon">Bath</span>
                                    <input type = "text" class = "form-control"
                                            name = "NumBaths"
                                            placeholder = "2"/>
                                </div>
                            </div>

                            <div class = "col-sm-4">
                                <select name = "ExteriorStories"
                                        class = "selectpicker"
                                        title = "Select Exterior Story"
                                        data-width = "100%">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                </select>
                            </div>

                            <div class = "col-sm-4">
                                <select name = "Pool"
                                        class = "selectpicker"
                                        title = "Select Pool Preference"
                                        data-width = "100%">
                                    <option>None</option>
                                    <option>Community</option>
                                    <option>Private</option>
                                    <option>Both Private & Community
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-sm-12">
                <div id = "map"></div>
            </div>
        </div>
    </div>

    <div id = "result"></div>


{% endblock %}
