{% extends "base.html" %}

{% block head %}

    {{ super() }}
    <script type = "text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <link rel = "stylesheet"
            href = "http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css"/>

    <script src = "http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script src = "{{ url_for("static", filename="leaflet/Leaflet.Sleep.js") }}"></script>

    <script src = "{{ url_for("static", filename="js/index.js") }}"></script>


{% endblock %}


{% block content %}
    <!-- Full Page Image Background Carousel Header -->
    <div id = "myCarousel" class = "carousel slide fill">
        <!-- Indicators -->
        <ol class = "carousel-indicators">
            <li data-target = "#myCarousel" data-slide-to = "0"
                    class = "active"></li>
            <li data-target = "#myCarousel" data-slide-to = "1"></li>
            <li data-target = "#myCarousel" data-slide-to = "2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class = "carousel-inner">
            <div class = "item active">
                <div class = "fill" id = "cover1"></div>
                <div class = "carousel-caption" id = "carousel-caption-1">
                    <h2>Housing Sold Price Predictor</h2>
                    <p>This app use multiple machine learning algorithms to
                        predict the housing sold price in Phoenix City,
                        Arizona.
                    </p>
                    <p>
                        <a class = "btn btn-lg btn-success"
                                href = "#housing_form"
                                role = "button">Go to App
                        </a>
                    </p>
                </div>
            </div>
            <div class = "item">
                <div class = "fill" id = "cover2"></div>
            </div>
            <div class = "item active">
                <div class = "fill" id = "cover3"></div>
                <div class = "carousel-caption">
                    <p>
                        <a class = "btn btn-lg btn-default"
                                href = "/analysis/"
                                role = "button">Behind the Scene
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class = "left carousel-control" href = "#myCarousel"
            data-slide = "prev">
        <span class = "glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class = "right carousel-control" href = "#myCarousel"
            data-slide = "next">
        <span class = "glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>


    <div class = "container-fluid container-first">
        <div class = "row">
            <form role = "form" id = "housing_form">
                <div class = "col-md-3">
                    <div id = "input_panel" class = "panel panel-primary">
                        <div class = "panel-heading">
                            <h3 class = "panel-title">Preferences
                            </h3>
                        </div>

                        <div class = "panel-body">
                            <div class = "col-sm-12">

                                <div class = "row form-group">
                                    <label>Housing Type</label>
                                    <select name = "DwellingType"
                                            class = "selectpicker user_input"
                                            title = "Choose one"
                                            data-width = "100%">
                                        <option>Single Family - Detached
                                        </option>
                                        <option>Townhouse</option>
                                        <option>Apartment Style/Flat
                                        </option>
                                        <option>Mfg/Mobile Housing</option>
                                        <option>Patio Home</option>
                                        <option>Gemini/Twin Home</option>
                                        <option>Loft Style</option>
                                        <option>Modular/Pre-Fab</option>
                                    </select>
                                </div>

                                <div class = "row form-group">
                                    <label>Housing Size</label>

                                    <div class = "input-group">
                                        <input type = "text"
                                                class = "form-control user_input"
                                                name = "LivingArea"/>
                                        <span class = "input-group-addon">sqft</span>
                                    </div>
                                </div>

                                <div class = "row form-group">
                                    <label>Floor Plan</label>

                                    <div class = "input-group">
                                        <span class = "input-group-addon">Bed</span>
                                        <input type = "text"
                                                min = "1"
                                                max = "15"
                                                class = "form-control user_input"
                                                name = "NumBedrooms"/>
                                    </div>
                                </div>

                                <div class = "row form-group">
                                    <div class = "input-group">
                                        <span class = "input-group-addon">Bath</span>
                                        <input type = "text"
                                                min = "0"
                                                max = "15"
                                                class = "form-control user_input"
                                                name = "NumBaths"/>
                                    </div>
                                </div>

                                <div class = "row form-group">
                                    <label>Exterior Story</label>
                                    <select name = "ExteriorStories"
                                            class = "selectpicker user_input"
                                            title = "Choose one"
                                            data-width = "100%">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                    </select>
                                </div>

                                <div class = "row form-group">
                                    <label>Pool</label>
                                    <select name = "Pool"
                                            class = "selectpicker user_input"
                                            title = "Choose one"
                                            data-width = "100%">
                                        <option>None</option>
                                        <option>Community</option>
                                        <option>Private</option>
                                        <option>Both Private & Community
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "col-md-9">
                    <div id = "map"></div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
