{% extends "base.html" %}

{% block head %}

    {{ super() }}
    <script type = "text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <link rel = "stylesheet"
            href = "http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css"/>

    <script src = "http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script src = "{{ url_for("static", filename="js/script.js") }}"></script>


{% endblock %}


{% block content %}
    <form role = "form" id = "housing_form">
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-sm-3">
                    <div id = "input_panel" class = "panel panel-primary">
                        <div class = "panel-heading">
                            <h3 class = "panel-title">Choose your preferences
                            </h3>
                        </div>

                        <div class = "panel-body">
                            <div class = "col-sm-12">

                                <div class = "row form-group">
                                    <label>Housing Type</label>
                                    <select name = "DwellingType"
                                            class = "selectpicker user_input"
                                            title = "Choose one"
                                            data-width = "100%">
                                            <option>Single Family - Detached
                                            </option>
                                            <option>Townhouse</option>
                                            <option>Apartment Style/Flat
                                            </option>
                                            <option>Mfg/Mobile Housing</option>
                                            <option>Patio Home</option>
                                            <option>Gemini/Twin Home</option>
                                            <option>Loft Style</option>
                                            <option>Modular/Pre-Fab</option>
                                    </select>
                                </div>

                                <div class = "row form-group">
                                    <label>Housing Size</label>
                                    <div class = "input-group">
                                        <input type = "text"
                                                class = "form-control user_input"
                                                name = "LivingArea"/>
                                        <span class = "input-group-addon">sqft</span>
                                    </div>
                                </div>

                                <div class = "row form-group">
                                    <label>Floor Plan</label>
                                    <div class = "input-group">
                                        <span class = "input-group-addon">Bed</span>
                                        <input type = "text"
                                                min = "1"
                                                max = "15"
                                                class = "form-control user_input"
                                                name = "NumBedrooms"/>
                                        <span class = "input-group-addon">Bath</span>
                                        <input type = "text"
                                                min = "0"
                                                max = "15"
                                                class = "form-control user_input"
                                                name = "NumBaths"/>
                                    </div>
                                </div>

                                <div class = "row form-group">
                                    <label>Exterior Story</label>
                                    <select name = "ExteriorStories"
                                            class = "selectpicker user_input"
                                            title = "Choose one"
                                            data-width = "100%">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                    </select>
                                </div>

                                <div class = "row form-group">
                                    <label>Pool</label>
                                    <select name = "Pool"
                                            class = "selectpicker user_input"
                                            title = "Choose one"
                                            data-width = "100%">
                                            <option>None</option>
                                            <option>Community</option>
                                            <option>Private</option>
                                            <option>Both Private & Community
                                            </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "col-sm-9">
                    <div id = "map"></div>
                </div>
            </div>

        </div>
    </form>

    <div id = "result"></div>


{% endblock %}
